<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Widget Heading</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a href="widget-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Edit Widget</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a href="widget-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <form>
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input placeholder=""
             type="text"
             id="name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="text">
        Text
      </label>
      <input placeholder=""
             type="text"
             id="text"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="url">
        URL
      </label>
      <input placeholder="http://lorempixel.com/400/200/sports/1/"
             type="url"
             id="url"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="width">
        Width
      </label>
      <input placeholder="100%"
             type="text"
             id="width"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="upload">
        Upload
      </label>
      <input placeholder=""
             type="file"
             id="upload"
             class="form-control"/>
    </div>
  </form>

  <div class="btn btn-primary btn-block">
    Upload Image
  </div>
  <a class="btn btn-danger btn-block"
     href="widget-list.html">
    Delete
  </a>
</div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
