<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Widget List</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back Arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a href="../user/profile.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Widgets</b>
          </a>
        </p>
      </div>

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a href="widget-choose.html" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <div class="ap-widget">
    <div class="ap-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h1>All Widgets</h1>
  </div>

  <div class="ap-widget">
    <div class="ap-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img width="100%" src="http://lorempixel.com/400/200/sports/1/"/>
  </div>

  <div class="ap-widget">
    <div class="ap-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p>Saudi Arabia’s under-secretary for educational curricula and programs has <a
      href="http://www.arabnews.com/node/1167756/saudi-arabia" target="_blank" rel="noopener">found himself sacked</a>
      after an official social studies textbook ran with a photo of King Faisal bin Abdulaziz Al Saud, the country’s
      leader from 1964 to 1975, seated next to none other than Jedi master Yoda.</p>
  </div>

  <div class="ap-widget">
    <div class="ap-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/RY4rWrlY-qM"
            frameborder="0"
            allowfullscreen></iframe>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
