<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back Arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Widgets</b>
          </a>
        </p>
      </div>

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']"
             class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <div *ngFor="let widget of widgets">
    <div class="ap-widget">
      <div class="ap-toolbar">
        <a>
          <span [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"
                class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <div [ngSwitch]="widget.widgetType"
           class="youtube-widget">
        <div *ngSwitchCase="'HEADING'">
          <p>{{widget.text}}</p>
        </div>
        <div *ngSwitchCase="'YOUTUBE'">
          <iframe [style.width]="widget.width"
                  [src]="widget.url | safe"
                  frameborder="0"
                  allowfullscreen></iframe>
        </div>
        <div *ngSwitchCase="'IMAGE'">
          <img [style.width]="widget.width"
               [src]="widget.url"/>
        </div>
        <div *ngSwitchCase="'HTML'">
          <p>{{widget.text}}</p>
        </div>
        <div *ngSwitchCase="'TEXT'">
          <p>{{widget.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
