<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back Arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/page-list']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Widgets</b>
          </a>
        </p>
      </div>

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/widget-choose']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <div *ngFor="let widget of widgets">
    <div class="ap-widget">
      <div class="ap-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>Id: {{widget._id}}</h1>
      <h2>Type: {{widget.widgetType}}</h2>
      <h3>Page Id: {{widget.pageId}}</h3>
    </div>
  </div>
</div>
<br /><br /><br /><br />
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
