<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/profile']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Websites</b>
          </a>
        </p>
      </div>

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/website-new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <ul class="list-group">
    <li class="list-group-item active">
      Name
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/page-list']">Facebook</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">01/01/01</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Mark</div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/website-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/page-list']">Twitter</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">02/02/02</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">James</div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/website-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/page-list']">Reddit</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">03/03/03</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Alek</div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/website-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
