<div class="container top-margin">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{error}}
  </div>

  <form #f="ngForm">
    <label>
      Name
    </label>
    <input placeholder={{widget.widgetType}}
           type="text"
           id="name"
           class="form-control"/>
    <label>
      Text
    </label>
    <input [(ngModel)]="widget.text" class="form-control"/>

    <label>
      Rows
    </label>
    <input [(ngModel)]="widget.rows" class="form-control" type="number"/>

    <label>
      Placeholder
    </label>
    <input [(ngModel)]="widget.placeholder" class="form-control" required/>
    <div class="input-group">
      <input type="text"
             readonly
             value="Formatted"
             class="form-control"/>
      <span class="input-group-addon">
     <input [(ngModel)]="widget.formatted"
            type="checkbox"/>
    </span>
    </div>

  </form>

  <a (click)="delete()"
     class="btn btn-danger btn-block">
    Delete
  </a>
</div>
