<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <p>Profile</p>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <a (click)='update()'
         [routerLink]="['/profile', userId]"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>

  </div>
</div>

<div class="container top-margin">

  <form #f="ngForm">
    <label>
      Username
    </label>

    <input
      placeholder="username"
      [(ngModel)]="username"
      name="username"
      type="text"
      class="form-control"
      required
    />

    <label>
      Email
    </label>
    <input
      placeholder="Email"
      name="email"
      type="text"
      class="form-control"
      required
    />


    <label>
      First Name
    </label>
    <input
      placeholder="first name"
      [(ngModel)]="firstName"
      name="firstName"
      type="text"
      class="form-control"
      required
    />


    <label>
      Last Name
    </label>
    <input
      placeholder="lastName"
      [(ngModel)]="lastName"
      name="lastName"
      type="text"
      class="form-control"
      required
    />
  </form>

  <a class="btn btn-danger btn-block"
     (click)="delete()"
     [routerLink]="['/login']">
    Delete
  </a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/user', userId, 'website']">
    Websites
  </a>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']">
    Logout
  </a>

</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</div>
