<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <p>Profile</p>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <a [routerLink]="['/profile']"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>

  </div>
</div>

<div class="container top-margin">
  <form>
    <div class="form-group">
      <label for="username">
        Username
      </label>
      <input [(ngModel)]="username"
             name="username"
             placeholder="apiekarski"
             type="text"
             id="username"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">
        Email
      </label>
      <input placeholder="piekarski.a@husky.neu.edu"
             type="email"
             id="email"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">
        First Name
      </label>
      <input [(ngModel)]="firstName"
             name="firstName"
             placeholder="Alek"
             type="text"
             id="first-name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="last-name">
        Last Name
      </label>
      <input [(ngModel)]="lastName"
             name="lastName"
             placeholder="Piekarski"
             type="text"
             id="last-name"
             class="form-control"/>
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/user', userId, 'website']">
    Websites
  </a>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']">
    Logout
  </a>

</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</div>
