<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/page-list']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-md-2 hidden-xs hidden-sm">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Pages</b>
          </a>
        </p>
      </div>

      <div class="col-md-1 hidden-xs hidden-xs">
        <p class="navbar-text">
          <a [routerLink]="['/page-new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10 col-md-7">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>New Page</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a (click)="create(name, description)"
             [routerLink]="['/page-list']"
             class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <div class="row">

    <div class="col-md-3 hidden-xs hidden-sm">
      <app-page-list></app-page-list>
    </div>

    <div class="col-xs-12 col-md-9">
      <form>
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input [(ngModel)]="name"
                 name="name"
                 placeholder="Home Feed"
                 type="text"
                 id="name"
                 class="form-control"/>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label for="title">
            Page Title
          </label>
          <input [(ngModel)]="description"
                 name="desciption"
                 placeholder="Page Title"
                 type="text"
                 id="title"
                 class="form-control"/>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
