<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-md-2 hidden-xs hidden-sm">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Pages</b>
          </a>
        </p>
      </div>

      <div class="col-md-1 hidden-xs hidden-xs">
        <p class="navbar-text">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10 col-md-7">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Edit Page</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a (click)="update(name, description)"
             class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <div class="row">

    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="container-fluid">
        <li class="list-group-item active">
          Name
        </li>
        <ul class="list-group">
          <div *ngFor="let page of pages">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-9">
                  <a
                    [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id, 'widget']">{{page.name}}</a>
                </div>
                <div class="col-xs-3">
                  <a class="pull-right" [routerLink]="['/user', userId, 'website', websiteId, 'page', page._id]">
                    <span class="glyphicon glyphicon-cog"></span>
                  </a>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-md-9">
      <div *ngIf="errorFlag"
           class="alert alert-danger">
        {{error}}
      </div>
      <form>
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input [(ngModel)]="name"
                 name="name"
                 placeholder={{page.name}}
                 type="text"
                 id="name"
                 required
                 class="form-control"/>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label for="title">
            Page Title
          </label>
          <input [(ngModel)]="description"
                 name="desciption"
                 placeholder={{page.description}}
                 type="text"
                 id="title"
                 class="form-control"/>
        </div>
      </form>
      <a (click)="delete(pageId)"
         class="btn btn-danger btn-block">
        Delete
      </a>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
