<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Edit Website</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a href="website-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-md-2 hidden-xs hidden-sm">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Websites</b>
          </a>
        </p>
      </div>

      <div class="col-md-1 hidden-xs hidden-xs">
        <p class="navbar-text">
          <a href="website-new.html" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10 col-md-7">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Edit Website</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a href="website-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <div class="row">

    <div class="col-md-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item active">
          Name
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a href="../page/page-list.html">Facebook</a>
            </div>
            <div class="col-xs-3">
              <a class="pull-right" href="website-edit.html">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a href="../page/page-list.html">Twitter</a>
            </div>
            <div class="col-xs-3">
              <a class="pull-right" href="website-edit.html">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a href="../page/page-list.html">Reddit</a>
            </div>
            <div class="col-xs-3">
              <a class="pull-right" href="website-edit.html">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-9">
      <form>
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input placeholder="Facebook"
                 type="text"
                 id="name"
                 class="form-control"/>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label>Description</label>
          <textarea placeholder="Description"
                    type="text"
                    id="description"
                    rows="3"
                    class="form-control">Facebook is a website that allows users to post statuses for their friends to see.</textarea>
        </div>
      </form>
      <a class="btn btn-danger btn-block"
         href="website-list.html">
        Delete
      </a>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
