<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a href="../website/website-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand">
            <b>Pages</b>
          </a>
        </p>
      </div>

      <!--plus sign-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a href="page-new.html" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <li class="list-group-item active">
    Name
  </li>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../widget/widget-list.html">Home Feed</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">01/01/01</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Mark</div>
        <div class="col-xs-3">
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../widget/widget-list.html">Profile</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">02/02/02</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">James</div>
        <div class="col-xs-3">
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../widget/widget-list.html">Friends</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">03/03/03</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Alek</div>
        <div class="col-xs-3">
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../widget/widget-list.html">Account</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">04/04/04</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Alek</div>
        <div class="col-xs-3">
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../widget/widget-list.html">Settings</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm">05/05/05</div>
        <div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">Alek</div>
        <div class="col-xs-3">
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
