<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/widget-list']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Edit Widget</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/widget-list']" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <form>
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input placeholder=""
             type="text"
             id="name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="text">
        Text
      </label>
      <input placeholder="Saudi Education Officials Fired for Publishing Textbook With Photo of King Faisal Next to Yoda"
             type="text"
             id="text"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="size">
        Size
      </label>
      <input placeholder="3"
             type="number"
             min="0"
             id="size"
             class="form-control"/>
    </div>
  </form>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/widget-list']">
    Delete
  </a>
</div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
