<div class="container top-margin">

  <form #f="ngForm">
    <label>
      Name
    </label>
    <input placeholder={{widget.widgetType}}
           type="text"
           id="name"
           class="form-control"/>
    <label>
      Text
    </label>
    <input [(ngModel)]="widget.text"
           placeholder={{widget.text}}
           type="text"
           name="text"
           ngModel
           class="form-control"
           #text="ngModel"/>
    <label>
      Size
    </label>
    <input [(ngModel)]="widget.size"
           placeholder={{widget.size}}
           type="number"
           min="0"
           name="size"
           ngModel
           class="form-control"
           #size="ngModel"/>
  </form>

  <a (click)="delete()"
     class="btn btn-danger btn-block"
     [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
    Delete
  </a>
</div>
