<div class="container top-margin">

  <form>
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input placeholder=""
             type="text"
             id="name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="text">
        Text
      </label>
      <input placeholder=""
             type="text"
             id="text"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="url">
        URL
      </label>
      <input [(ngModel)]="widget.url"
             placeholder="http://lorempixel.com/400/200/sports/1/"
             type="url"
             id="url"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="width">
        Width
      </label>
      <input [(ngModel)]="widget.width"
             placeholder="100%"
             type="text"
             id="width"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="upload">
        Upload
      </label>
      <input placeholder=""
             type="file"
             id="upload"
             class="form-control"/>
    </div>
  </form>

  <div class="btn btn-primary btn-block">
    Upload Image
  </div>
  <a (click)="delete()"
     class="btn btn-danger btn-block"
     [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
    Delete
  </a>
</div>
