<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--Back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/widget-list']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Edit Widget</b>
          </a>
        </p>
      </div>

      <!--Check mark-->
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a (click)="update(url, width)"
            [routerLink]="['/widget-list']" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <form>
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input placeholder=""
             type="text"
             id="name"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="text">
        Text
      </label>
      <input placeholder=""
             type="text"
             id="text"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="url">
        URL
      </label>
      <input [(ngModel)]="url"
             placeholder="http://lorempixel.com/400/200/sports/1/"
             type="url"
             id="url"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="width">
        Width
      </label>
      <input [(ngModel)]="width"
             placeholder="100%"
             type="text"
             id="width"
             class="form-control"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="upload">
        Upload
      </label>
      <input placeholder=""
             type="file"
             id="upload"
             class="form-control"/>
    </div>
  </form>

  <div class="btn btn-primary btn-block">
    Upload Image
  </div>
  <a (click)="delete()"
     class="btn btn-danger btn-block"
     [routerLink]="['/widget-list']">
    Delete
  </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
