<div class="container top-margin">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{error}}
  </div>

  <form #f="ngForm">

    <label>
      Name
    </label>
    <input placeholder={{widget.widgetType}}
           type="text"
           id="name"
           class="form-control"
    />

    <label>
      Text
    </label>
    <input placeholder="Text"
           name
           type="text"
           class="form-control"
    />

    <label>
      URL
    </label>
    <input [(ngModel)]="widget.url"
           placeholder={{widget.url}}
           name="url"
           type="url"
           class="form-control"
    />

    <label>
      Width
    </label>
    <input [(ngModel)]="widget.width"
           placeholder={{widget.width}}
           type="text"
           name="width"
           class="form-control"
    />

    <label>
      Upload
    </label>
    <input name="myFile"
           type="file"
           class="form-control"/>
  </form>

  <div class="btn btn-primary btn-block">
    Upload Image
  </div>
  <a (click)="delete()"
     class="btn btn-danger btn-block">
    Delete
  </a>
</div>
